@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('./fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('./fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/RobotoCondensed-Italic.woff2') format('woff2'),
        url('./fonts/RobotoCondensed-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

body {
    background: #80af49;
    color: #fff;
    height: 100vh;
    font-family: 'Roboto Condensed', arial, sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

h3 {

    color: #fff;
    margin-top: 2.5rem;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

#div2 {
    background-color: #00000080;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    padding: 20px;
    min-width: 60vw;
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 1rem;
}

li {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#div1 {
    background-color: #00000080;
    border-radius: 5px;
    box-sizing: border-box;
    width: 150px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button {
    background: #83af50;
    border-bottom: 2px solid #5b7a38;
    box-shadow: inset 0 -2px #5b7a38;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 38px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.button-hover:hover {
    color: inherit;
    filter: brightness(80%);
    transition: all .25s ease;
}

#p1 {
    padding-top: 2rem;
}

#p2 {
    margin-top: 3rem;
}